@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
  background: #00F0FF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00CCFF;
}

body {
  @apply bg-dark-background text-gray-100 font-sans;
}
